<nav class="navbar navbar-expand-md navbar-primary bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   <span class="navbar-toggler-icon"></span>
 </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"> Home </a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="/blog"> Blog </a>
      </li> -->
      <li class="nav-item active">
        <a class="nav-link" href="#"> Notifications </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"> Messages </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search/">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
      name="q" >
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% if not user.is_authenticated %}
      <ul class="navbar-nav inline ">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}"> Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'signup' %}"> Signup </a>
        </li>
      </ul>
      {% else %}
      <ul class="navbar-nav inline">
        <li class="nav-item active ">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link" href="{% url 'logout' %}">Logout</span></a>
        </li>
      </ul>
    {% endif %}
  </div>
</nav>
